@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;

@tailwind components;

@tailwind utilities;

@import "~tether-drop/dist/css/drop-theme-arrows-bounce.css";
@import 'react-dates/lib/css/_datepicker.css';
@import "../styles/react_dates_overrides.css";
@import 'react-date-range/dist/styles.css';
@import 'react-date-range/dist/theme/default.css';

@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter var', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

/**
 * Vendor:      Radomir Tinkov
 * License URL: https://www.fontspring.com/licenses/radomir-tinkov/webfont
 */
@font-face {
  font-family: 'gilroy-extrabold';
  src: url('/fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/gilroy-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilroy-light';
  src: url('/fonts/gilroy-light-webfont.woff2') format('woff2'),
    url('/fonts/gilroy-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.box-loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  perspective: 2000px;
  transform: rotateX(-30deg) rotateY(-45deg);
}

.holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  transform: translate3d(0em, 3em, 1.5em);
}
.holder:last-child {
  transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
}
.holder:first-child {
  transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
}
.holder:nth-child(1) .box {
  background-color: #f4f5f7; /* equivalent of bg-gray-100 */
}
.holder:nth-child(1) .box:before {
  background-color: #e5e7eb; /* equivalent of bg-gray-200 */
}
.holder:nth-child(1) .box:after {
  background-color: #d2d6dc; /* equivalent of bg-gray-300 */
}
.holder:nth-child(2) .box {
  background-color: #f4f5f7; /* equivalent of bg-gray-100 */
}
.holder:nth-child(2) .box:before {
  background-color: #e5e7eb; /* equivalent of bg-gray-200 */
}
.holder:nth-child(2) .box:after {
  background-color: #d2d6dc; /* equivalent of bg-gray-300 */
}
.holder:nth-child(3) .box {
  background-color: #f4f5f7; /* equivalent of bg-gray-100 */
}
.holder:nth-child(3) .box:before {
  background-color: #e5e7eb; /* equivalent of bg-gray-200 */
}
.holder:nth-child(3) .box:after {
  background-color: #d2d6dc; /* equivalent of bg-gray-300 */
}

.dark .holder:nth-child(1) .box {
  background-color: #3F3F46; /* equivalent of bg-gray-700 */
}
.dark .holder:nth-child(1) .box:before {
  background-color: #333336; /* equivalent of bg-gray-800 */
}
.dark .holder:nth-child(1) .box:after {
  background-color: #18181B; /* equivalent of bg-gray-900 */
}
.dark .holder:nth-child(2) .box {
  background-color: #3F3F46; /* equivalent of bg-gray-700 */
}
.dark .holder:nth-child(2) .box:before {
  background-color: #333336; /* equivalent of bg-gray-800 */
}
.dark .holder:nth-child(2) .box:after {
  background-color: #18181B; /* equivalent of bg-gray-900 */
}
.dark .holder:nth-child(3) .box {
  background-color: #3F3F46; /* equivalent of bg-gray-700 */
}
.dark .holder:nth-child(3) .box:before {
  background-color: #333336; /* equivalent of bg-gray-800 */
}
.dark .holder:nth-child(3) .box:after {
  background-color: #18181B; /* equivalent of bg-gray-900 */
}

.blue .holder:nth-child(1) .box {
  background-color: #DBEAFE; /* equivalent of bg-blue-100 */
}
.blue .holder:nth-child(1) .box:before {
  background-color: #BFDBFE; /* equivalent of bg-blue-200 */
}
.blue .holder:nth-child(1) .box:after {
  background-color: #93C5FD; /* equivalent of bg-blue-300 */
}
.blue .holder:nth-child(2) .box {
  background-color: #DBEAFE; /* equivalent of bg-blue-100 */
}
.blue .holder:nth-child(2) .box:before {
  background-color: #BFDBFE; /* equivalent of bg-blue-200 */
}
.blue .holder:nth-child(2) .box:after {
  background-color: #93C5FD; /* equivalent of bg-blue-300 */
}
.blue .holder:nth-child(3) .box {
  background-color: #DBEAFE; /* equivalent of bg-blue-100 */
}
.blue .holder:nth-child(3) .box:before {
  background-color: #BFDBFE; /* equivalent of bg-blue-200 */
}
.blue .holder:nth-child(3) .box:after {
  background-color: #93C5FD; /* equivalent of bg-blue-300 */
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  animation: ani-box 6s infinite;
  width: 3em;
  height: 3em;
}
.box:before,
.box:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
}
.box:before {
  left: 100%;
  bottom: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
}
.box:after {
  left: 0;
  bottom: 100%;
  transform: rotateX(90deg);
  transform-origin: 0 100%;
}

@keyframes ani-box {
  8.33% {
    transform: translate3d(-50%, -50%, 0) scaleZ(2);
  }
  16.7% {
    transform: translate3d(-50%, -50%, -3em) scaleZ(1);
  }
  25% {
    transform: translate3d(-50%, -100%, -3em) scaleY(2);
  }
  33.3% {
    transform: translate3d(-50%, -150%, -3em) scaleY(1);
  }
  41.7% {
    transform: translate3d(-100%, -150%, -3em) scaleX(2);
  }
  50% {
    transform: translate3d(-150%, -150%, -3em) scaleX(1);
  }
  58.3% {
    transform: translate3d(-150%, -150%, 0) scaleZ(2);
  }
  66.7% {
    transform: translate3d(-150%, -150%, 0) scaleZ(1);
  }
  75% {
    transform: translate3d(-150%, -100%, 0) scaleY(2);
  }
  83.3% {
    transform: translate3d(-150%, -50%, 0) scaleY(1);
  }
  91.7% {
    transform: translate3d(-100%, -50%, 0) scaleX(2);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scaleX(1);
  }
}
